@charset "utf-8";
/* CSS Document */


/*########################*/
/* general HTML Tag Rules */
/*########################*/

body {
	background-image:url(../images/bg_body.jpg);
	background-repeat:repeat-x;
	background-position: top;
	background-attachment:fixed;
	
}

h1, h2, h3, h4, h5  {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#333
	
}

p {
	margin:0px;
	padding:0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 13px;
	
	
}

a {
	
}

a:hover {
	
}



/*#####################*/
/* general Class Rules */
/*#####################*/

.wrapOverall {
	width:1280px;
	
	margin:0px auto;
	
}

.header {
	background-image:url(../images/bg_nav.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	height:82px;
	
	
}

.header img.loco {
	margin:8px 0px 14px 160px;
	padding:0px;
	float:left;
	
}

.navMain {
	float:right;
	margin:0px;
	padding:54px 160px 0px 0px;
}


.content {
	margin-top: 35px;
	padding:0px;
	width:1280px;
	min-height:1400px;
	position: relative;	
}
.backTop {
	position: absolute;
	bottom: 10px;
	right: 160px;
	width: 120px;
	background-color: #e2c096;
	padding: 10px 20px;
	border:1px solid #d8b58c;
	border-radius: 20px;
	text-decoration: none;
}
.backTop p {
	color: #a96c33;	
	font-weight: bold;
	font-family: arial, Helvetica, sans-serif;
	font-size: 13px;
}
.arrowTop {
	float:left;
	padding-right: 10px;
	

}
.langSwitcher {
	clear: both;
	margin-left: 160px;
	
}
.langSwitcher p {
	float: left;
	padding: 7px;
	font-family: sans-serif;
	color: #a79371;
	font-size: 13px;
}
.langSwitcher a {
	color: #32afc3;
}
.lan {
	float: left;
	padding-bottom: 10px;
}

.boxOneOverall {
	width:959px;
	height:388px;
	margin:0px 160px;
	padding:0px;
	clear: both;
	
}

.extraContentBox {
	width:230px;
	height:158px;
	float:left;
	
	
}
.extraContentBoxHeader {
	background-image:url(../images/extra-content-box-header.png);
	background-repeat:no-repeat;
	background-position:top left;
	margin:0px;
	padding:0Px;
	height:10px;
	color:#73655e;
	font-weight:bold;
}

.extraContentBoxBody {
	background-image:url(../images/search_bucket_bx.png);
	background-repeat:no-repeat;
	background-position:top left;
	margin:0px;
	padding:0Px 2px 0px 0px;
	height:123px;
	
}
.extraContentBox p {
	padding:13px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #827b72;
	font-size: 13px;
	font-weight: bold;
	
}
.lanSwicher {
	width:960px;
	height:36px;
	margin: 5px 160px 0px 160px;
}


.foot {
	background-image:url(../images/footer.jpg);
	background-position:bottom center;
	background-repeat:no-repeat;
	height:242px;
	width:1280px;
	margin-top: 100px;
	
	
}
.footContent{
	height:179px;
	margin:30px 160px 0px 160px;
	padding:30px 0px 0px 0px;
	
}
.siteLinks {
	float:left;
	margin:0px 36px 0px 0px;
	padding:0px 36px 0px 0px;
	border-right:solid 1px #786156 ;
	height: 164px;
	
	
}

.newsLetter {
	float:left;
	margin:0px 36px 0px 0px;
	padding:0px;
	
	
}

.Info {
	float:left;
	margin:0px;
	padding:0px 0px 0px 36px;
	border-left:solid 1px #786156 ;
	height:164px;
	
}
#email {
	height:34px;
	width:253px;
	border:solid 2px #716056;
	border-radius:4px 0px 0px 4px;
	margin:0px;
	border-right:0px;
	padding-left: 5px;
	position:relative;
	float:left;
}

#subscribe {
	height:40px;
	width:109px;
	background-color:#f2ba08;
	border:solid 2px #716056;
	border-left:0px;
	border-radius:0px 4px 4px 0px;
	font-weight: bold;
	color: #6f5002;
	padding:0px;
	position:relative;
	float:left;
}
.subscribe {
	position:absolute;
	
}



.contentBodyOverall {
	background-image:url(../images/content_body_packae.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:707px;
	min-height:1250px;
	float:right;
	margin:0px 0px 0px 0px;
		
	
}

.contentBody {
	width:666px;
	height:1125px;
	margin:20px;
	padding:0px;
	
}
.contentBody {
	font-family: arial, Helvetica, sans-serif;
}

.contentTitle {
	height:164px;
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 25px;
	
}
.contentTitle a {
	text-decoration:none;
}
.titlePicture {
	float:left;
	margin-left: 5px;
}
.titleTitle {
	padding:5px;
	float:left; 
	
}
#TiTle {
	color:#1c90a4;
	
}
#numb {
	color:#ed470d;
	
}
.titlePic {
	margin:0px;
	padding:0px;
	float:left;
}
.titleContent {
	width:431px;
	height:170px;
	
}
.listOverall {
	background-image:url(../images/back_.png);
	background-repeat:no-repeat;
	background-position:top left;
	height:80px;
	width:410px;
	float:left;
	margin-top: 10px;
	
}
.listOne {
	float:left;
	width:120px;
	
}
.listOne ul {
	
}
.listOne ul li {
	list-style:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#8e887b;
	
}
.listTwo {
	float:left;
}
.listTwo ul {
	
}
.listTwo ul li {
	list-style:none;
	font-size:14px;
	font-weight:bold;
	
	
}

.titleText {
	float:left;
	padding::0px 20px;
}


.infoText {
	font-size: 14px;
	height:88px;
	margin-top: 25px;
	border-bottom: 1px dashed #cccccc;
	
	
}

.contentPic {
	background-image:url(../images/pic-s_packae_content.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width:666px;
	height:457px;
	margin-top: 25px;
	padding:0px;


}

.includedBox {
	margin-top: 25px;
	padding:0px;

}

.includedBoxHeader {
	background-image:url(../images/included_header.png);
	background-position:top left;
	background-repeat:no-repeat;
	height:38px;
	
}
.includedBoxHeader p {
	padding: 13px 0px 0px 13px;
	color: #827b72;
	font-size: 13px;
	font-weight: bold;
}

.includedBoxBody {
	background-image:url(../images/included-body-border.png);
	background-position:top left;
	background-repeat:no-repeat;
	height:268px;
	
}
.includedBoxBodyContent {
	height:254px;
	width:664px;
	padding:10px 0px 0px 0px;
	
}
.includedPic {
	margin:0px 14px 0px 0px;
	padding:0px;
	float:left;
	
}
.includedTitle {
	float:left;
	margin:0px;
	padding:0px;
	
}
.viewMoreButton {
	float:right;
	margin:0px;
	padding:0px;
}

.viewMoreButton img.viewMore {
	margin:16px;
}

.private {
	height:75px;
	width:632px;
	margin:0px 10px 10px 10px;
	border-bottom:dashed 1px #666666;
	border-image-width:232px; 
}
.private a {
	color: #40a2b5;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}
.kim {
	height:75px;
	width:632px;
	margin:10px;
	border-bottom:dashed 1px #666666;
	border-image-width:232px;
}
.road {
	height:60px;
	width:632px;
	margin:10px;
	
}



/*####################*/
/* general Navi Rules */
/*####################*/



.navMain ul {
	margin:0px;
	padding:0px;
	
}
.navMain ul li {
	padding: 10px;
	display:inline;
	list-style:none;
	background: rgba(16, 100, 115, 0.498039);
	border-radius: 4px 4px 0 0;
		
}
#active {
	background-color: #ffffff;
}
#active a{
	color:#157b92;
}

.navMain ul li a {
	
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;	
}
.navMain ul li:hover{	
	background: rgba(16, 100, 115, 0.9);
	color:#FFFFFF;	
	border-radius: 4px 4px 0 0;
}

.footContent p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
}

.footContent ul {
	margin:0px;
	padding:0px;
	color:#FFFFFF;
	list-style: none;
	
}

.footContent ul li {
	margin:5px;
	padding:0px;
	
	
}

.footContent ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	
}

.footContent ul li a:hover {
	
	
}
